// Colors
$sea-green:      #009688; // Brand Colour
$padua:          #A7E8C2; // Brighter Green

$havelock-blue:  #3C8CCF; // Blog Blue
$bright-gray:    #393F4F; // Blog Gray
$burnt-sienna:   #EF7761; // Blog Orange
$fern:           #73B872; // Blog Green


body.login {
  div#login h1 a {
    background-image: url('../images/mass-foam-systems-logo.png');
    background-size: 260px;
    width: 100%;
    margin: 0;
    height: 92px;
  }
}

.login #nav a, .login #backtoblog a {
  color: $sea-green;
}

.login .message, .login .success, .login #login_error {
  border-left: 4px solid white;
}

.login form {
  background: $sea-green;
  color: white;
  border-radius: 5px;

  input:focus, input:active {
    border-color: $padua;
  }

  label {
    color: white;
  }

  .button-primary {
    background: transparent;
    border: 2px solid white;
    font-weight: bold;
    color: white;
    box-shadow: none;
    text-shadow: none;
    transition: 300ms ease-in;
    border-radius: 3px;
    padding: 5px 20px!important;
    height: auto!important;

    &:hover, &:focus {
      background: white;
      color: $sea-green;
      border-color: white;
    }
  }
}