.mf-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  display: inline-block;
  background: $sea-green;
  font-size: $body-small-size;
  color: $mf-white;
  line-height: 1;
  padding: ($spacer * 0.75) ($spacer * 1.25);
  border-radius: $spacer * 1.5;
  font-weight: $semi-bold-weight;
  white-space: nowrap;
  @include transition(300ms);

  @include media-breakpoint-down(sm) {
    padding: 14px $spacer;
  }

  @include hover-focus {
    color: $mf-white;
    background: darken($sea-green, 10%);
    cursor: pointer;
  }

  &.white-button {
    background: $mf-white;
    color: $sea-green;

    @include hover-focus {
      color: $sea-green;
      background: darken($gallery, 3%);
    }
  }

  &.light-grey-button {
    background: $zevon;
    color: $cod-gray;

    @include hover-focus {
      color: $cod-gray;
      background: darken($zevon, 5%);
    }
  }

  &.white-outline {
    border: 2px solid $mf-white;
    padding: ($spacer * 0.75) -2
  }
}

.mf-outline-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  display: inline-block;
  background: transparent;
  font-size: $body-small-size;
  color: $sea-green;
  line-height: 1;
  padding: ($spacer * 0.75) ($spacer * 1.25);
  border-radius: $spacer * 1.5;
  border: 2px solid $sea-green;
  font-weight: $semi-bold-weight;
  white-space: nowrap;
  @include transition(300ms);

  @include media-breakpoint-down(sm) {
    padding: 14px $spacer;
  }

  @include hover-focus {
    color: $mf-white;
    background: $sea-green;
    cursor: pointer;
  }
}

.mf-text-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  display: inline-block;
  color: $cod-gray;
  font-size: $body-small-size;
  font-weight: $semi-bold-weight;
  border-bottom: 2px solid $sea-green;
  @include hover-focus {
    color: darken($cod-gray, 10%);
    border-color: darken($sea-green, 10%);
  }
}

.livechat_button a {
  @extend .mf-button;
  @extend .white-button;
  @extend .w-100;
  @extend .text-center;
}