.page-template-template-get-quote,
.page-template-template-grant-scheme,
.page-template-template-eco-calc {
  .mfs-form {
    .calc-step {
      display: none;
      &.active {
        display: block;
      }
      @include transition(300ms);
    }

    .calc-step.active + .calc-step:not(.quote-success) {
      display: block;
      position: relative;
      z-index: 1;
      height: 150px;
      overflow: hidden;

      &:after {
        content: " ";
        display: block;
        position: absolute;
        width: 100%;
        height: 150px;
        top: 0;
        left: 0;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.4) 0%,
          rgba(255, 255, 255, 1) 70%
        );
        z-index: 2;
      }
    }

    .calc-step.show {
      display: block;
      position: relative;
      z-index: 1;
      height: auto;
    }

    .field-err-msg {
      color: darken($burnt-sienna, 10%);
      display: block;
      margin: -10px 0 10px 10px;
      font-size: 12px;
    }
  }
}

.gform_wrapper {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  label {
    margin: ($spacer / 2) 0;
  }

  input,
  select,
  textarea {
    width: 100%;
    border-radius: 3px;
    border: 3px solid $wild-sand;
    background-color: $wild-sand;
    color: $cod-gray;
    padding: 10px $spacer / 2;
    margin-bottom: $spacer / 2;
    outline: none;
    @include transition(300ms);

    &:focus,
    &:active {
      background-color: lighten($wild-sand, 3%);
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("../images/icons/select-carets.svg") no-repeat center right
      12px $wild-sand;
    background-size: 12px;
  }

  .gfield_radio,
  .gfield_checkbox {
    li {
      width: auto;
      display: inline-block;
      margin: ($spacer / 2) ($spacer * 1.5) ($spacer / 2) 0;
    }
  }

  .gfield_description {
    color: #808080;
    font-size: 0.8em;
    margin-bottom: 12px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30px;
    height: 30px;
    margin-right: $spacer / 2;
    background-position: center;

    & + label {
      vertical-align: top;
      margin: 0;
      color: $boulder;
      width: calc(100% - #{$spacer * 2});
    }
  }

  input[type="radio"] {
    border-radius: 50%;

    &:checked,
    &[checked="checked"] {
      background-color: $sea-green;
    }
  }

  input[type="checkbox"] {
    &:checked,
    &[checked="checked"] {
      background: url("../images/icons/white-tick.svg") center no-repeat
        $sea-green;
      background-size: 80%;
    }
  }

  input[type="submit"] {
    width: auto;
    @extend .mf-button;
    border: none;
  }

  ::placeholder {
    color: $boulder;
  }

  // Override autofill colour
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: $cod-gray;
    -webkit-box-shadow: 0 0 0px 1000px $wild-sand inset;
  }

  .hidden_label label,
  .small-label {
    font-size: $body-smallest-size;
    color: $boulder;
  }

  .form-explainer {
    padding-left: $spacer * 2;
    background: url("../images/icons/green-info-icon.svg") center left $spacer/2
      no-repeat;
    background-size: $spacer * 0.75;

    p {
      font-size: $body-smallest-size;
      color: $boulder;
      margin: 0;
      line-height: 1.35;
    }
  }

  // Sector Choice Box
  .radio-choice {
    input[type="radio"] {
      visibility: hidden;
      position: absolute;
      width: 0;
      height: 0;

      + label {
        width: 100%;
        border: 3px solid $zevon;
        border-radius: 5px;
        padding: ($spacer / 2) 0;
        color: $cod-gray;
        text-align: center;
        font-size: $body-large-size;
        font-family: $headings-font-family;
        font-weight: $bold-weight;
        cursor: pointer;
        margin-bottom: $spacer/2;
        @include transition(300ms);
      }
    }

    input {
      &:checked,
      &[checked="checked"] {
        + label {
          border-color: $sea-green;
        }
      }
    }
  }

  // Property/thickness Choice Box
  .property-choice,
  .thickness-choice {
    input[type="radio"] {
      visibility: hidden;
      position: absolute;
      width: 0;
      height: 0;

      + label {
        width: 100%;
        border: 3px solid $zevon;
        border-radius: 5px;
        padding: ($spacer * 1.5) ($spacer);
        color: $cod-gray;
        text-align: center;
        font-size: $body-large-size;
        font-family: $headings-font-family;
        font-weight: $semi-bold-weight;
        cursor: pointer;
        margin-bottom: $spacer/2;
        line-height: 1;
        @include transition(300ms);

        .large {
          font-size: 24px;
          font-weight: $bold-weight;
        }

        img {
          max-height: 100px;
          max-width: 100%;
          width: auto;
          height: auto;
          margin-bottom: $spacer;
        }
      }
    }

    input {
      &:checked,
      &[checked="checked"] {
        + label {
          border-color: $sea-green;
        }
      }
    }
  }

  .dont-know-choice {
    margin-top: $spacer;
    input[type="radio"] {
      visibility: hidden;
      position: absolute;
      width: 0;
      height: 0;

      + label {
        @extend .mf-outline-button;
        width: auto;
      }

      &:checked,
      &[checked="checked"] {
        + label {
          background: $sea-green;
          color: $mf-white;
        }
      }
    }
  }
}
