/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Media alignment */
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: ($spacer / 2) auto;
  height: auto;
  max-width: 100%;
}

.alignleft,
.alignright {
  margin-bottom: ($spacer / 2);
  height: auto;
  max-width: 100%;

  img {
    max-width: 100%;
    height: auto;
  }
}

.wp-caption-text {
  display: block;
  text-align: center;
  font-size: $body-small-size;
  padding: ($spacer / 4) ($spacer / 2);
  background: $alabaster;
}

@include media-breakpoint-up(sm) {
  .alignleft {
    float: left;
    margin-right: ($spacer / 2);
    max-width: 50%;
  }

  .alignright {
    float: right;
    margin-left: ($spacer / 2);
    max-width: 50%;
  }
}


/** Text meant only for screen readers */
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}
