.page-hero-image {
  position: relative;
  height: 250px;
  background-image: url("../images/hero-fallback.jpg");
  background-color: $boulder;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down(sm) {
    height: 200px;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($cod-gray, 0.25);
  }

  .container {
    position: relative;
    z-index: 10;
  }

  .page-subtitle {
    @extend .ff-mont;
    font-size: $body-large-size;
    color: $mf-white;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }
}