.global-why-use-mass-foam {

  .benefit {
    width: 16%;
    min-width: 16%;
    position: relative;
    -webkit-perspective: 250px;
    perspective: 250px;
    cursor: pointer;

    @include media-breakpoint-down(md) {
      width: 25%;
      min-width: 25%;
    }

    @include media-breakpoint-down(sm) {
      width: 33.333%;
      min-width: 33.333%;
    }

    @include media-breakpoint-down(xs) {
      width: 50%;
      min-width: 50%;
    }

    p {
      font-size: $body-normal-size;
      @include media-breakpoint-down(md) {
        font-size: $body-small-size;
      }
    }


    @include hover-focus-active {
      outline: none;

      .benefit-tooltip {
        opacity: 1;
        transform: rotateX(0deg) translateY(0px);
      }
      .benefit-icon {
        background: darken($padua, 10%);
        border-color: $sea-green;
      }
    }
    .benefit-tooltip {
      position: absolute;
      opacity: 0;
      display: block;
      width: auto;
      max-width: 90%;
      margin: 0 auto;
      padding: $spacer*0.5;
      background: $gallery;
      border-radius: 5px;
      z-index: 1000;
      left: 0;
      right: 0;
      bottom: calc(100% + 10px);
      pointer-events: none;
      transform: rotateX(-15deg) translateY(-50px);
      transform-origin: 50% -50px;
      @include transition(300ms);


      &:after {
        display: block;
        content: '';
        position: absolute;
        z-index: 100;
        top: 100%;
        left: calc(50% - 10px);
        border: 10px solid transparent;
        border-top-color: $gallery;
        opacity: 1;
      }
    }
    .benefit-icon {
      width: 35px;
      height: 35px;
      background: $padua;
      margin: 0 auto;
      border-radius: 50%;
      border: 2px solid $padua;
      position: relative;
      display: inline-block;
      @include transition(300ms);
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}