.global-review-feed {
  .review-slider {
    margin: 0 ($grid-gutter-width / -2);

    .slick-track {
      display: flex;
    }

    .slick-slide {
      float: none;
      height: auto;
      margin: $grid-gutter-width/2;
    }

    .review-slide {
      background: $mf-white;
      border-radius: 3px;
      border: 1px solid $wild-sand;
      @include transition(300ms);

      &:hover {
        background: darken($mf-white, 1%);
      }

      .review-text {
        color: $cod-gray;
        font-size: $body-small-size;
      }

      .review-date {
        color: $boulder;
        font-size: $body-small-size;
      }

      .review-author {
        color: $boulder;
        font-weight: $font-weight-bold;
      }

      a {
        display: block;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
