.global-footer-contact-cta {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($mine-shaft, 0.5);
  }

  .container {
    z-index: 10;
    position: relative;
  }


  h2 {
    color: $mf-white;
  }

  .hide-mob {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .trustpilot-footer {
    background: $mf-white;
    border-radius: 3px;
  }
}