.the-team {
  .slick-slide > div {
    height: 100%;
  }

  .team-member {
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #eff2f3;
    transition: all 0.4s ease-in-out;
    width: 275px;
    height: 100%;

    &:hover {
      background: #009688;
      color: #ffffff;
      border: 1px solid #ffffff;
      transform: translateY(-10px);

      hr {
        border-top: 4px solid white;
      }
    }

    > img {
      max-height: 150px;
      max-width: 150px;
      width: 100%;
      height: auto;
      border-radius: 100%;
      vertical-align: middle;
    }
  }
}
