.home-intro-section {
  background: $pampas;
  background: linear-gradient(to right, $pampas 50%, $mf-white 50%);
  border-top: 1px solid $wild-sand;
  border-bottom: 1px solid $wild-sand;
  @include media-breakpoint-down(sm) {
    background: $pampas;
    text-align: center;
  }
}

#home-intro-img {
  @include media-breakpoint-down(md) {
    min-height: 201px;
  }
}