.home-about-us {
  background: $mf-white;
  background: linear-gradient(to right, $mf-white 50%, $pampas 50%);
  border-top: 1px solid $wild-sand;
  border-bottom: 1px solid $wild-sand;
  @include media-breakpoint-down(sm) {
    background: $pampas;
    text-align: center;
    img {
      display: none
    }
  }

  img {
    max-width: 65%;
  }
}