.home-our-sectors {
  background: $mf-white;
  background: linear-gradient(to bottom, desaturate(lighten($padua, 10%), 10%) 0%, $mf-white 30%);

  .sector-card {
    background: $mf-white;
    border-radius: 5px;
    border: 1px solid $zevon;
    @include transition(300ms);
    overflow: hidden;
    .sector-card-details {
      h3 {
        color: $sea-green;
      }
    }
    .sector-image {
      display: block;
      height: 180px;
      border-radius: 5px 5px 0 0;
      border-bottom: 1px solid $zevon;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      @include media-breakpoint-down(sm) {
        height: 110px;
      }
    }
    .sector-card-link {
      border-radius: 0 0 5px 5px;
      border-top: 1px solid $zevon;
    }
  }
}