.home-hero-slider {
  .slide {
    height: 600px;
    overflow: hidden;
    position: relative;

    @include media-breakpoint-down(sm) {
      height: 500px;
    }
  }

  .slide-video-wrapper {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 50%;
    overflow: hidden;
    z-index: 2000;

    video {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(0%, -50%);
      z-index: 200;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($cod-gray, 0.25);
      pointer-events: none;
      z-index: 400;
    }

    @include media-breakpoint-down(sm) {
      left: 0%;
      width: 100%;
      z-index: 1;
      opacity: 0.25;
    }
  }

  .slide-video-trigger {
    position: absolute;
    top: calc(50% - 75px);
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 136px;
    height: 150px;
    background: url("../images/watch-video.svg") center no-repeat transparent;
    border: none;
    font-size: 0;
    z-index: 500;
    cursor: pointer;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .slide-image-holder {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .slide-bubble-overlay,
  .slide-background-img {
    z-index: 500;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
  }

  .slide-bubble-overlay {
    background: url("../images/bubbles-overlay-old.svg") center no-repeat;
    opacity: 0.2;
  }

  .slide-background-img {
    background-color: black;

    img {
      opacity: 0.5;
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
    }
  }

  .slide-contents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transform: translate3d(0, 0, 0);
  }

  .slide-roundel {
    display: inline-block;
    font-weight: $bold-weight;
    line-height: 1;
    padding: ($spacer / 3) ($spacer * 0.75);
    border: 2px solid $mf-white;
    border-radius: $spacer;
    color: $mf-white;
    text-transform: uppercase;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    @include media-breakpoint-down(md) {
      margin-right: 30px;
    }
  }

  .slide-main {
    font-size: $h2-font-size;
    color: $mf-white;
    text-shadow: 0px 4px 4px rgba(black, 0.25);
    line-height: 1.4;

    &.slide-main-image {
      margin: unset;
    }
  }

  .slide-sub {
    margin: 0 0 25px;
    font-size: $body-large-size;
    color: $mf-white;
    text-align: center;

    @include media-breakpoint-down(sm) {
      margin: unset;

      &.slide-sub-video {
        text-align: center !important;
        font-size: $body-small-size;
      }
    }

    &.slide-sub-video {
      color: #FF4917;
      text-align: left;
      margin: 0 12px 12px 0;
    }
  }

  .bg-video {
    background: rgba($padua, 0.25);
    .slide-main {
      color: $sea-green;
      text-shadow: none;
    }

    .slide-roundel {
      border-color: $sea-green;
      background-color: $sea-green;
    }

    .mf-button {
      border: 2px solid $sea-green;
    }
  }

  .hide-mob {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .slick-dots {
    position: relative;
    z-index: 100;
    list-style: none;
    padding: 0;
    margin: $spacer 0 0;

    li {
      width: $spacer/2;
      height: $spacer/2;
      border-radius: 50%;
      background: $mf-white;
      display: inline-block;
      margin: 0 $spacer/4;
      cursor: pointer;
      @include transition(300ms);

      @include hover-focus {
        opacity: 0.5;
      }
    }

    button {
      display: none;
    }
  }

  .slide-0 .slick-dots li:first-of-type {
    background: $sea-green;
  }

  .slide-1 .slick-dots li:nth-of-type(2) {
    background: $sea-green;
  }

  .slide-2 .slick-dots li:nth-of-type(3) {
    background: $sea-green;
  }

  .slide-3 .slick-dots li:nth-of-type(4) {
    background: $sea-green;
  }

  .trustmark-container {
    display: flex;
    width: fit-content;
    margin: 20px auto;
    padding: 3px;
    background: white;
    border-radius: 10px;
    border: 2px solid #009688;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    @include media-breakpoint-up(lg) {
      display: none;
    }

    @include media-breakpoint-up(md) {
      margin: 20px 0;
    }

    .trustmark {
      display: block;
      width: 130px;
      height: auto;
      margin: 5px;
    }

    span {
      display: block;
      font-size: 12px;
      color: #070707;
      margin: 0 2px;

      @include media-breakpoint-up(md) {
        text-align: center;
      }
    }
  }
}

.modal-dialog {
  width: calc(100% - 1rem);
}

.modal-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
  }
}
