%pseudo-shared {
  content: '';
  position: absolute;
  width: 100%;
  height: 75%;
  top: 50%;
  z-index: -1;
  background-blend-mode: multiply;
}

.home-benefits-of-icynene {
  position: relative;

  &:after {
    @extend %pseudo-shared;
    transform: translateY(-50%) skew(0deg, -5deg);
    background: desaturate($alabaster, 20%);
    opacity: 0.8;
  }
  &:before {
    @extend %pseudo-shared;
    transform: translateY(-50%) skew(0deg, -3.5deg);
    background: desaturate(lighten($padua, 10%), 10%);
    opacity: 0.4;
  }

  .benefit-card {
    background: $mf-white;
    border-radius: 5px;
    border: 1px solid $zevon;
    @include transition(300ms);
    overflow: hidden;
    background-position: -30% 110%;
    background-repeat: no-repeat;

    &.home {
      background-image: url("../images/home-benefits-bg.png");
    }
    &.business {
      background-image: url("../images/business-benefits-bg.png");
    }
    .benefit-title {
      border-bottom: 1px solid $zevon;
    }
    .benefit-list {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}