.featured-case-studies {
  .case-study-image {
    border-radius: 5px 5px 0 0;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 140px;
  }

  .case-study-details {
    border: 1px solid $zevon;
    border-radius: 0 0 5px 5px;
  }

  a {
    @include transition(300ms);
    @include hover-focus {
      opacity: 0.8;
    }
  }
}