.home-selection {
  background: rgba($padua, 0.25);
  position: relative;
  padding: 100px 50px;

  @include media-breakpoint-down(md) {
    padding: 20px;
  }

  .bubble-overlay {
    background: url("../images/bubbles-overlay-old.svg") center no-repeat;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .home-main {
    width: 100%;
    color: $sea-green;
    text-align: center;
    font-size: $h4-font-size;
    width: 700px;
    margin: 0 auto 60px;

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
      width: auto;
    }

    h1 {
      font-size: $h1-font-size;
      line-height: 1.4;
      margin: 0 50px;

      @include media-breakpoint-down(md) {
        margin-bottom: 10px;
        line-height: normal;
      }
    }

    .trustpilot-widget {
      margin: 25px 0 0 0;

      @include media-breakpoint-down(md) {
        margin: 20px;
      }
    }
  }

  .box-selection-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-flow: wrap;

    > * {
      margin: 10px;
      flex: 1;

      @include media-breakpoint-down(md) {
        margin: 5px;
      }
    }

    .big-option {
      .box-option {
        flex: 1;
      }

      .box-content-container > * {
        text-align: center;

        &:last-child {
          max-width: 200px;
          margin: 0 auto;
        }
      }
    }

    .box-option {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 200px;
      border-radius: 5px;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      position: relative;
      min-width: 340px;

      @include media-breakpoint-down(md) {
        height: 150px;
      }

      .box-content-container {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 10px 40px 20px;
        box-sizing: border-box;
        color: $mf-white;
        font-size: $body-normal-size;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        transition: all 0.1s ease-in-out;

        @include media-breakpoint-down(md) {
          font-size: $body-small-size;
        }

        .box-content-header {
          font-size: $h3-font-size;
          font-weight: $semi-bold-weight;

          @include media-breakpoint-down(md) {
            font-size: $h4-font-size;
          }
        }
      }

      .box-arrow-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        max-width: 20px;
        background-color: $sea-green;
        transition: all 0.2s ease-in-out;

        img {
          width: 100%;
          max-width: 10px;
        }
      }

      &:hover {
        .box-content-container {
          background-color: rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.2);
        }

        .box-arrow-container {
          max-width: 25px;
        }
      }
    }
  }
}
