.page-template-template-about {
  .page-content-wrap {
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
  }
}

.grid-grey-bg {
  background: $alabaster;
}

.about-grid-text {
  padding: $spacer*2 16.666%;

  @include media-breakpoint-down(lg) {
    padding: $spacer*2 calc(8.333% + #{$spacer});
  }

  @include media-breakpoint-down(md) {
    padding: $spacer $spacer;
  }

}