.blog-category-buttons {
  list-style: none;
  padding: 0;
  margin-bottom: ($spacer * 0.75);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    min-width: calc(25% - #{$spacer/2});
    white-space: nowrap;
    margin-bottom: ($spacer * 0.75);

    @include media-breakpoint-down(sm) {
      width: calc(50% - #{$spacer/2});
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
    }

    a {
      display: block;
      color: $cod-gray;
      border: 1px solid $cod-gray;
      text-align: center;
      padding: $spacer / 2;
      font-size: $body-smallest-size;
      line-height: $body-normal-size;
      border-radius: 3px;
      @include transition(300ms);

      &.active, &:hover, &:focus {
        background-color: $cod-gray;
      }


      &.cat-commercial-case-studies {
        border-color: $bright-gray;
        &.active, &:hover, &:focus {
          background-color: $bright-gray;
        }
      }

      &.cat-about-icynene {
        border-color: $sea-green;
        &.active, &:hover, &:focus {
          background-color: $sea-green;
        }
      }

      &.cat-residential-case-studies {
        border-color: $burnt-sienna;
        &.active, &:hover, &:focus {
          background-color: $burnt-sienna;
        }
      }

      &.cat-spray-foam-news {
        border-color: $fern;
        &.active, &:hover, &:focus {
          background-color: $fern;
        }
      }

      &.cat-general-insulation {
        border-color: $havelock-blue;
        &.active, &:hover, &:focus {
          background-color: $havelock-blue;
        }
      }

      &.active, &:hover, &:focus {
        color: $mf-white;
      }
    }
  }
}

.blog-posts-list {

  .blog-card {
    border: 1px solid $zevon;
    border-radius: 3px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .blog-image {
    position: relative;
  }

  .link-date {
    margin-top: auto; // Force to bottom
    border-top: 1px solid $zevon;
  }
}

.category-badge {
  position: absolute;
  bottom: $spacer * 0.75;
  right: $spacer * 0.75;
  max-width: calc(100% - #{$spacer*1.5});
  display: inline-block;
  background: $cod-gray;
  color: $mf-white;
  border-radius: 5px;
  padding: 6px 18px;
  font-size: $body-smallest-size;

  &.cat-commercial-case-studies {
    background-color: $bright-gray;
  }

  &.cat-about-icynene {
    background-color: $sea-green;
  }

  &.cat-residential-case-studies {
    background-color: $burnt-sienna;
  }

  &.cat-spray-foam-news {
    background-color: $fern;
  }

  &.cat-general-insulation {
    background-color: $havelock-blue;
  }

  &.category-inline {
    position: relative;
    bottom: auto;
    right: auto;
  }
}

.nav-links {
  text-align: center;
  margin: $spacer 0;

  .nav-previous, .nav-next {
    display: inline-block;
    a {
      @extend .mf-button;
      margin: 0 $spacer / 2;
    }
  }
}

// Related Posts on Single Blog Page

.blog-related-posts {
  .blog-col {
    @include media-breakpoint-down(sm) {
      &:nth-of-type(3) {
        display: none;
      }
    }
  }
}


// Blog Gallery

#blogGallery {
  margin-bottom: $spacer * 1.5;

  .blog_gallery_slide {
    text-align: center;

    img {
      display: inline-block;
      margin: 0 auto;
    }
  }

  &:hover .slick-arrow {
    opacity: 0.5;
  }

  .slick-arrow {
    position: absolute;
    z-index:10;
    font-size: 0;
    top: calc(50% - 35px);
    border: none;
    outline: none;
    background-color: $sea-green;
    background-position: center;
    background-size: $spacer / 2;
    background-repeat: no-repeat;
    width: $spacer * 1.5;
    height: $spacer * 1.5;
    opacity: 0.5;
    cursor: pointer;
    @include transition(300ms);

    &:hover {
      opacity: 1;
    }
  }

  .slick-prev {
    left: 0;
    background-image: url("../images/icons/arrow-left.svg");
  }

  .slick-next {
    right: 0;
    background-image: url("../images/icons/arrow-left.svg");
    transform: rotate(180deg);
  }

  figcaption {
    display: block;
    text-align: center;
    font-size: $body-small-size;
    padding: ($spacer / 4) ($spacer / 2);
    background: $alabaster;
  }
}