.faq-search-form {
  .mf-button {
    margin-left: -50px;
    height: 54px;
  }
}

.faq-question-card {
  border: 1px solid $zevon;
  padding: $spacer * 0.75;

  &.featured-question {
    border: 1px solid $wild-sand;
    height: 100%;

    hr {
      margin: auto ($spacer * -0.75) ($spacer / 2);
    }
  }

  h3, p {
    color: $cod-gray;
    @include hover-focus {
      color: $cod-gray;
    }
  }

  .mf-text-button {
    white-space: nowrap;
  }
}

.faq-sidebar {

  @include media-breakpoint-up(sm) {
    width: 250px;
    min-width: 250px;
    margin-left: $spacer * 0.75;
  }

  .popular-faqs {
    list-style: none;
    padding: 0;
    margin: 0 0 $spacer;

    li {
      line-height: 1.5;
      margin-bottom: $spacer * 0.75;
    }

    a {
      color: $cod-gray;
      text-decoration: underline;
    }
  }
}


.sidebar-chat-box {
  background: $sea-green;
  padding: $spacer * 1.25;
  border-radius: 5px;
  margin-top: $spacer;
}

.question-container {
  margin: 36px 0;

  ul {
    list-style-type: none;
    padding-inline-start: 0;
    border-bottom: 1px solid lightgrey;

    li {
      border-top: 1px solid lightgrey;
      padding: 6px 0;

      div.question {
        &:hover {
          color: $link-hover-color;
          cursor: pointer;
        }

        div {
          float: right;
          font-weight: bolder;
        }
      }

      div.question-text {
        display: none;
        span {
          display: block;
          margin: 10px 0;
          border-radius: 5px;
          background-color: rgba(150, 150, 150, 0.1);
          padding: 5px;
          border: 1px solid #DDDDDD;
        }

        a {
          padding: 10px 30px;
          margin: 5px 0 10px;
        }
      }
    }
  }
}