.page-template-template-get-quote {

    .get_quote_form {

      .calc-step {
        display: none;
        &.active {
          display: block;
        }
        @include transition(300ms);
      }

      .calc-step.active + .calc-step:not(.quote-success) {
        display: block;
        position: relative;
        z-index: 1;
        height: 150px;
        overflow: hidden;

        &:after {
          content: ' ';
          display: block;
          position: absolute;
          width: 100%;
          height: 150px;
          top: 0;
          left: 0;
          background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,1) 70%);
          z-index: 2;
        }
      }

      .calc-step.show {
        display: block;
        position: relative;
        z-index: 1;
        height: auto;
      }

      .field-err-msg {
        color: darken($burnt-sienna, 10%);
        display: block;
        margin: -10px 0 10px 10px;
        font-size: 12px;
      }

    }

}