.process-step-wrapper {

  .first-step {
    position: relative;
    background: $sea-green;
    border-radius: 5px;

    .step-number {
      color: $sea-green;
      background: $mf-white;
      transform: none;
    }

    .step-1-text {
      color: $mf-white;
      font-family: $headings-font-family;
      font-weight: $semi-bold-weight;
      font-size: $h3-font-size;
      line-height: 1.35;
      max-width: 70%;

      a {
        color: $mf-white;
      }

      @include media-breakpoint-down(sm) {
        max-width: 100%;
        font-size: $body-large-size;
      }
    }

    .step-1-image {
      position: absolute;
      right: $spacer/2;
      top: 50%;
      transform: translateY(-50%);
      max-width: 33%;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  .step-holder {
    .step-box {
      margin: -$spacer 0;
      @include transition(500ms);
      transition-delay: 900ms;

      .step-icon {
        width: 198px;
        height: auto;
      }

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        margin: $spacer 0;
        text-align: center;

        .step-number {
          margin-left: auto;
          margin-right: auto;
          transform: none;
        }

        .step-icon {
          width: 150px;
          height: auto;
        }
      }
    }

    svg {
      width: 76%;
      height: auto;
      margin: 0 12%;

      @include media-breakpoint-down(sm) {
        display: none;
      }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 77px;
      }
    }
  }

  .step-number {
    display: inline-block;
    font-family: $headings-font-family;
    font-weight: $bold-weight;
    font-size: $body-small-size + 1;
    color: $mf-white;
    background: $sea-green;
    line-height: 1;
    padding: ($spacer / 3) ($spacer / 2);
    border-radius: 3px;
    margin-bottom: $spacer;
    transform: translateY(-$spacer/2)
  }

  .step-content {
    border: 1px solid $zevon;
    border-radius: 5px;
    flex-grow: 1;

    .step-text {
      font-family: $headings-font-family;
      font-size: $body-large-size;
      font-weight: $semi-bold-weight;
      line-height: 1.35
    }
  }
}