@import "~ekko-lightbox/dist/ekko-lightbox.css";

.page-template-template-services {
  .why-service-blocks {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 100;
    border: 1px solid $zevon;
    border-radius: 0 0 5px 5px;

    .why-use-service {
      background: $mf-white;
      padding: $spacer*2 16.666%;

      @include media-breakpoint-down(lg) {
        padding: $spacer*2 calc(8.333% + #{$spacer});
      }

      @include media-breakpoint-down(md) {
        padding: ($spacer * 2.25) $spacer $spacer;
      }

    }

    .service-video {
      position: relative;
      font-size: 0;
      height: 0;
      padding-bottom: 56%;
      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    .why-use-service-list {
      background: $gallery;
      padding: $spacer*2 16.666%;

      @include media-breakpoint-down(lg) {
        padding: $spacer*2 calc(8.333% + #{$spacer});
      }

      @include media-breakpoint-down(md) {
        padding: ($spacer * 2.25) $spacer $spacer;
      }
    }
  }

  .gallery-content {
    a {
      position: relative;
      display: block;
      background: $cod-gray;
      border-radius: 3px;
      overflow: hidden;

      img {
        border-radius: 3px;
        position: relative;
        @include transition(300ms);
      }

      &:after {
        background-image: url("../images/icons/magnify.svg");
        content: "";
        height: $spacer*2;
        width: $spacer*2;
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        opacity: 0;
        @include transition(300ms);
      }

      @include hover-focus-active {
        &:after {
          opacity: 1;
        }
        img {
          opacity: 0.2;
        }
      }
    }
  }

  .modal.fade .modal-dialog {
    transform: translate(0, 0) !important;
  }

  .modal-backdrop.fade.show {
    opacity: 0.75;
  }

  .modal-footer {
    justify-content: flex-start;
    border-top: none;
    padding: $spacer;
  }

  .modal-body {
    padding: 0;
    border-radius: 3px;
    overflow: hidden;
  }
  .modal-content {
    border-radius: 3px;
  }
  .ekko-lightbox-item {
    border-radius: 3px;
  }
  .modal-content a:hover {
    color: $mf-white;
  }

  .page-content-wrap {
    border-radius: 5px 5px 0 0;
    &.service-material-types {
      background: $zevon;
      border-radius: 0;
    }

    .service-material-type-ind {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      border: 4px solid $sea-green;
      position: relative;
      margin: 0 auto;
      p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        color: $mf-white;
        font-weight: $bold-weight;
        text-shadow: 1px 1px 5px rgba(black, 0.75);
      }
    }
  }

  .slick-arrow {
    position: absolute;
    z-index:10;
    font-size: 0;
    top: calc(50% - 35px);
    border: none;
    outline: none;
    background-color: $sea-green;
    background-position: center;
    background-size: $spacer / 2;
    background-repeat: no-repeat;
    width: $spacer * 1.5;
    height: $spacer * 1.5;
    opacity: 0.5;
    cursor: pointer;
    @include transition(300ms);

    &:hover {
      opacity: 1;
    }
  }

  .slick-prev {
    left: 0;
    background-image: url("../images/icons/arrow-left.svg");
  }

  .slick-next {
    right: 0;
    background-image: url("../images/icons/arrow-left.svg");
    transform: rotate(180deg);
  }
}

.expanded-content-inner {
  overflow: hidden;
  opacity: 0;
  @include transition(300ms);

  &.height-restrict {
    max-height: 0px;
  }

  &.expanded {
    opacity: 1;
  }
}