%pseudo-shared {
  content: '';
  position: absolute;
  width: 100%;
  height: 75%;
  top: 50%;
  z-index: -1;
  background-blend-mode: multiply;
}

.page-template-template-whyicynene {

  .page-content-wrap {
    border-radius: 5px 5px 0 0;

    &:nth-child(1) {
      border-bottom: 0px;
    }

    &.grey-bg {
      border-radius: 0 0 5px 5px;
      background: $zevon;
    }

    &.tab-nav {
      border-radius: 0;
      border-bottom: 0px;
      border-top: 0px;

      ul.nav-tabs {
        position: relative;
        border: 0;

        .magic-box {
          position: absolute;
          left: 0;
          width: 25%;
          height: 100%;
          background: $sea-green;
          border-radius: 3px;
          box-shadow: 0 2px 4px rgba(50, 50, 93, .1);
          @include transition(300ms cubic-bezier(.165, .84, .44, 1));
          z-index: -1;

          &:after {
            display: block;
            content: '';
            position: absolute;
            z-index: 100;
            top: 115%;
            left: calc(50% - 20px);
            border: 20px solid transparent;
            opacity: 1;
            border-bottom-color: $zevon;
            @include transition(300ms);
            @include media-breakpoint-down(lg) {
              top: 90%;
            }
          }
        }

        li {
          a {
            color: $pill;
            @include transition(300ms);

            span {
              &.tab-hide {
                display: block;
                @include media-breakpoint-down(md) {
                  display: none;
                }
              }

              &.tab-num {
                display: none;
                @include media-breakpoint-down(md) {
                  display: block;
                }
              }
            }

            &:hover {
              color: $cod-gray;
            }

            &.active {
              color: $mf-white;
            }
          }
        }
      }
    }

    &.tab-body {
      border-radius: 0;
      background: $zevon;

      .tab-pane {
        .video-wrapper {
          width: 100%;
          height: 0;
          padding-bottom: 56.25%;
          position: relative;

          iframe {
            width: 100%;
            position: absolute;
            height: 100%;
          }
        }
      }
    }
  }

  .types-of-icynene {
    position: relative;

    &:after {
      @extend %pseudo-shared;
      transform: translateY(-50%) skew(0deg, -5deg);
      background: desaturate($alabaster, 20%);
      opacity: 0.8;
    }

    &:before {
      @extend %pseudo-shared;
      transform: translateY(-50%) skew(0deg, -3.5deg);
      background: desaturate(lighten($padua, 10%), 10%);
      opacity: 0.4;
    }

    .benefit-card {
      background: $mf-white;
      border-radius: 5px;
      border: 1px solid $zevon;
      @include transition(300ms);
      overflow: hidden;
      background-position: -30% 110%;
      background-repeat: no-repeat;

      .benefit-title {
        border-bottom: 1px solid $zevon;
      }

      .benefit-list {
        .application-item {
          display: inline-block;
          margin: 4px;
          padding: ($spacer / 4) ($spacer / 2);
          background: $pill;
          font-size: $body-smallest-size;
          border-radius: 3px;
        }

        .cell-image {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 2px solid $sea-green;
          position: relative;
          margin: 0 auto;
        }

        .home-benefits {

          li {
            padding-left: 0;
          }

          li:before {
            position: relative;
            display: inline-block;
            transform: none;
            top: auto;
            margin-right: $spacer / 2;
          }
        }
      }
    }
  }
}