.main-footer {
  background-color: $mine-shaft;

  h4 {
    color: $sea-green;
    margin-bottom: $spacer * 1.25;
    font-size: $body-small-size;
  }

  p {
    color: $mf-white;
  }

  a {
    color: $mf-white;
    @include transition(300ms);
    @include hover-focus {
      color: desaturate(lighten($sea-green, 50%), 50%);
    }
  }

  .footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: $spacer /2;
    }

    a {
      line-height: 1;
      text-decoration: underline;
      font-size: $body-small-size;
    }
  }

  .footer-accreditations {
    filter: grayscale(100%);
  }
}

.mobile-footer-cta {
  position: fixed;
  z-index: 9000;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $sea-green;
  border-radius: $spacer $spacer 0 0;
  text-align: center;
  transform: translateY(100%);
  @include transition(300ms);

  &.slide-in {
    transform: translateY(0);
  }

  a {
    color: $mf-white;
    padding: $spacer / 2;
    line-height: 1.4;

    &:first-of-type {
      border-right: 1px solid $mf-white;
    }

    img {
      width: 16px;
      height: auto;
    }
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}