.sticky-cta-top {
  position: sticky;
  top: 0;
  z-index: 9999;
  background: $sea-green;
  padding: 10px 0;
  font-weight: $bold-weight;
  font-family: $headings-font-family;
  text-transform: uppercase;

  a {
    color: $mf-white;
  }

  @media (max-width: 860px) {
    display: none;
  }
}

.main-header {
  position: sticky;
  width: 100%;
  background: $mf-white;
  z-index: 9999;
  top: 48px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  padding: ($spacer * 1) 0 ($spacer * 0.75);
  @include transition(300ms);

  .logo-holder img {
    width: auto;
    height: 76.26px;
    @include transition(300ms);
  }

  @media (max-width: 350px) {
    .logo-holder img {
      height: 50px;
    }
    padding: $spacer * 0.5 0;
  }

  @media (max-width: 860px) {
    padding: $spacer * 0.75 0;
    top: 0;
  }

  &.scroll-shrink {
    padding: $spacer * 0.5 0;

    .logo-holder img {
      width: auto;
      height: 52.71px;
    }
  }

  .trustpilot-score {
    height: 20px;
    margin-left: 5px;
  }

  .cta-phone {
    > span {
      font-size: $body-smallest-size;
      color: $boulder;
    }

    > a {
      font-family: $headings-font-family;
      font-size: $h3-font-size;
      color: $alert-red;
      line-height: normal;
      font-weight: bold;

      > img {
        height: 15px;
        vertical-align: middle;
      }
    }
  }
}

.get-quote-nav-banner {
  background: $sea-green;
  line-height: 1;
  font-family: $headings-font-family;
  font-size: $body-large-size;
  color: $mf-white;
  text-align: center;
  padding: $spacer / 2;
}

.navigation-wrapper {
  @media (max-width: 860px) {
    position: fixed;
    width: 100%;
    z-index: 9000;
    background: $mf-white;
  }
}

.desktop-nav-wrapper {
  //background-image: linear-gradient(to bottom, $wild-sand 0%, $alabaster 20%, $mf-white);
  @media (max-width: 860px) {
    display: none;
  }
}

.main-nav {
  position: relative;
  z-index: 9000;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;

  & > li.big-dropdown > a::after {
    display: block;
    content: "";
    position: absolute;
    z-index: 100;
    top: 100%;
    left: calc(50% - 5px);
    border: 10px solid transparent;
    @include transition(300ms);
    opacity: 0;
  }

  & > li {
    flex-grow: 1;
    border-right: 1px solid $gallery;

    & > a {
      position: relative;
      display: block;
      color: $cod-gray;
      font-size: $body-small-size;
      padding: $spacer / 2;
      text-align: center;
      @include transition(300ms);
      font-weight: 600;

      // The small down arrow which appears on hover
    }

    // Show the arrow
    @include hover-focus {
      & > a {
        background: $gallery;
        &:after {
          opacity: 1;
          border-top-color: $gallery;
        }
      }
    }

    // Green when active
    &.active > a {
      color: $sea-green;
    }

    &:last-of-type {
      border-right: none;
    }

    // Regular Dropdown
    &.menu-item-has-children {
      position: relative;

      @include hover-focus {
        .sub-menu {
          transform: scaleY(1);
          opacity: 1;
          pointer-events: auto;
        }
      }

      // Hide dropdowns
      .sub-menu {
        list-style: none;
        background: $alabaster;
        position: absolute;
        padding: 0;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transform: scaleY(0);
        transform-origin: 0 0;
        @include transition(200ms);

        & > li > a {
          padding: $spacer / 2;
          color: $cod-gray;
          display: block;
          @include transition(300ms);

          @include hover-focus {
            background: $gallery;
          }
        }
      }
    }

    &:not(.big-dropdown) > .sub-menu {
      border-radius: 0 0 5px 5px;
      overflow: hidden;
    }

    &.big-dropdown {
      position: static;

      // The dropdown menu
      & > .sub-menu {
        @include make-row();
        padding: $spacer 0;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        @include transition(300ms);

        // Make it appear full width - bit of a hack...
        &:after {
          content: "";
          display: block;
          position: absolute;
          background: $alabaster;
          width: 100vw;
          height: 100%;
          top: 0;
          left: calc(50% - 50vw + #{$spacer / 2});
          border-bottom: 3px solid $sea-green;
        }

        // Split into columns
        & > li {
          width: 33.333%;
          padding: $spacer / 2;
          position: relative;
          z-index: 10;

          &:first-of-type {
            padding-right: $spacer * 3;
            @include media-breakpoint-down(lg) {
              padding-right: $spacer;
            }
          }

          img {
            display: block;
            max-width: 100%;
            height: auto;
            border-radius: 3px;
          }

          // Green Title
          .menu-big-title {
            display: block;
            font-weight: bold;
            font-family: $headings-font-family;
            font-size: $body-large-size;
            padding: ($spacer / 2) 0;
            border-bottom: 1px solid $gallery;
            margin-bottom: $spacer / 2;
          }

          .menu-paragraph {
            display: block;
            color: $boulder;
            font-size: $body-small-size;
          }

          &.bold-sub {
            > a {
              font-weight: $semi-bold-weight;
              padding: ($spacer / 2) 0;
              border-bottom: 1px solid $gallery;
            }
          }

          // Real Menu Items inside dropdown
          a:not([href="#"]) {
            position: relative;
            display: block;
            color: $cod-gray;
            padding: ($spacer / 2) ($spacer * 5) ($spacer / 2) 0;
            border-bottom: 1px solid $gallery;
            line-height: 1.5;

            @include hover-focus {
              background: none;
              &:after {
                right: $spacer / 4;
              }
            }

            // Right arrow
            &:after {
              display: block;
              content: "";
              width: $spacer / 2;
              height: 10px;
              position: absolute;
              right: $spacer / 2;
              top: calc(50% - 5px);
              background: url("../images/nav-arrow-right.svg") no-repeat center;
              background-size: $spacer / 2;
              @include transition(200ms);
            }
          }

          a[href="#"] {
            cursor: default;
          }

          a {
            @include hover-focus {
              background: none;
            }
          }
        }

        // Menu's inside big dropdown
        .sub-menu {
          position: relative;
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }
}

.mobile-nav-wrapper {
  display: none;
  position: absolute;
  left: 0;
  transform: translateX(-100%); // Hide Off Screen
  width: 100%;
  min-height: 100vh;
  background: $mf-white;
  z-index: 9000;
  @include transition(300ms);

  &.active {
    transform: translateX(0);
  }

  @media (max-width: 860px) {
    display: block;
  }

  .mobile-nav {
    padding: 0;
    margin: 0;
    list-style: none;

    // Hide the extra spray foam fields (img etc)
    .big-dropdown > .sub-menu > li:first-of-type {
      display: none;
    }

    a {
      color: $cod-gray;
      display: block;
      padding: ($spacer / 2) $spacer * 1.25;
      border-bottom: 1px solid $gallery;
      font-family: $headings-font-family;
      font-weight: $bold-weight;
      font-size: $body-large-size;
    }

    li.active > a {
      color: $sea-green;
    }

    // Reset sub-menus
    .sub-menu {
      padding: 0 $spacer/2;
      margin: 0;
      list-style: none;
    }

    .big-dropdown {
      position: relative;

      // Arrow indicating dropdown
      &:after {
        content: "";
        position: absolute;
        right: $spacer;
        top: 16px;
        width: $spacer;
        height: $spacer;
        background: url("../images/nav-arrow-right.svg") center no-repeat;
        background-size: 20px;
        pointer-events: none;
        @include transition(200ms);
      }

      & li.menu-item-has-children > a {
        display: none;
        // Hide Residential/Commercial sub-headings
      }

      // Sub menu hidden
      & > .sub-menu {
        opacity: 0;
        min-height: 0;
        max-height: 1px;
        pointer-events: none;
        @include transition(200ms);

        a {
          padding-left: $spacer * 1.75;
          font-size: $body-normal-size;

          .menu-paragraph {
            color: $boulder;
            display: block;
            font-size: $body-small-size;
            font-weight: 400;
          }
        }

        // Sub Sub Menus not hidden
        .sub-menu {
          display: block;
        }
      }

      &.show-sub-menu {
        &:after {
          transform: rotate(-90deg);
        }

        // Reveal sub-menu
        .sub-menu {
          opacity: 1;
          min-height: 50px;
          max-height: 500px;
          pointer-events: auto;
        }
      }
    }
  }
}

#nav-toggle-open,
#nav-toggle-close {
  width: 40px;
  height: auto;
  display: none;
}

@media (max-width: 860px) {
  #nav-toggle-open {
    display: inline-block;
  }

  .main-header.mob-nav-open {
    #nav-toggle-open {
      display: none;
    }

    #nav-toggle-close {
      display: inline-block;
    }
  }
}