// Page white box styling
.page-content-wrap {
  background: $mf-white;
  margin: ($spacer * -3.25) 0 ($spacer * 2);
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 100;
  border: 1px solid $zevon;
  border-radius: 5px;

  .page-template-template-contact & {
    margin-bottom: 0;
  }

  .page-content {
    padding: ($spacer * 3.25) 0 ($spacer * 2);
    flex: 0 0 100%;
    max-width: 100%;

    @include media-breakpoint-up(lg) {
      // Effectively col-11
      flex: 0 0 91.6667%;
      max-width: 91.6667%;
    }

    @include media-breakpoint-up(xl) {
      // Effectively col-10
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
  }

  @include media-breakpoint-down(lg) {
    margin-top: $spacer * -2.25;
    margin-left: ($spacer / -4);
    margin-right: ($spacer / -4);

    .page-content {
      padding: ($spacer * 2.25) $spacer $spacer;
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: $spacer * -1.75;
    margin-bottom: $spacer * 1.5;

    .page-content {
      padding: ($spacer * 1.75) $spacer $spacer;
    }
  }
}


// Page Title
.page-title {
  margin-bottom: $spacer;
}

// Get Quote Shortcode
.get_quote_cta {
  background: $sea-green;
  padding: ($spacer) ($spacer * 1.25);
  border-radius: 5px;
  margin: ($spacer * 1.5) 0;
  text-align: center;

  p {
    font-family: $headings-font-family;
    font-weight: $semi-bold-weight;
    color: $mf-white;
    font-size: $body-large-size;
    line-height: 1.4;
    margin-right: $spacer;
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;

    p {
      max-width: 480px;
      margin-bottom: 0;
    }
  }
}

// Get Quote Options
.get_quote_options {
  background: $sea-green;
  padding: ($spacer) ($spacer * 1.25);
  border-radius: 5px;
  margin: ($spacer * 1.5) auto;
  text-align: center;
  max-width: 80%;

  p {
    font-family: $headings-font-family;
    font-weight: $semi-bold-weight;
    color: $mf-white;
    font-size: $body-large-size;
    line-height: 1.4;
    margin: auto;
  }

  a {
    margin: 20px auto 0;
    display: block;
    max-width: 80%;
  }

  @include media-breakpoint-up(md) {
    p {
      max-width: 480px;
      margin-bottom: 0;
    }

    a {
      margin: 15px 10px 0;
      display: inline-block;
    }
  }
}

// Featured Blogs
.featured-blogs {
  .featured-blog-image {
    border-radius: 5px 5px 0 0;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 140px;
  }

  .featured-blog-details {
    border: 1px solid $zevon;
    border-radius: 0 0 5px 5px;
  }

  a {
    @include transition(300ms);
    @include hover-focus {
      opacity: 0.8;
    }
  }
}

// Contact bar shortcode
.contact_bar {
  background: $sea-green;
  width: 100%;
  padding: 24px 30px;
  margin: 20px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-direction: row !important;

    > span {
      margin-bottom: unset !important;
      text-align: left !important;
    }
  }

  > span {
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 20px;
    text-align: center;
  }
}