// Container Max Width

.container {
  @include media-breakpoint-up(xs) {
    width: calc(100% - #{$spacer * 0.5});
  }

  @include media-breakpoint-up(md) {
    width: calc(100% - #{$spacer * 1.5});
  }
}

.wide-container {
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 12px;

  @include media-breakpoint-up(xs) {
    width: calc(100% - #{$spacer * 0.5});
  }

  @include media-breakpoint-up(md) {
    width: calc(100% - #{$spacer});
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .row {
    width: 100%;
  }
}

// <hr> styles
.hr-70 {
  width: 70px;
  clear: both;
  border-top: 4px solid $sea-green;
}

.hr-70-white {
  width: 70px;
  clear: both;
  border-top: 4px solid $mf-white;
}

.hr-wild-sand {
  border-top: 1px solid $wild-sand;
}

// Typography
strong {
  font-weight: $semi-bold-weight;
}

.strong {
  font-weight: $semi-bold-weight;
}

.body-large-size {
  font-size: $body-large-size;
}

.body-normal-size {
  font-size: $body-normal-size;
}

.body-small-size {
  font-size: $body-small-size;
}

.body-smallest-size {
  font-size: $body-smallest-size;
}

.ff-sans {
  font-family: $font-family-sans-serif;
  font-weight: normal;
}

.ff-mont {
  font-family: $headings-font-family;
  font-weight: $semi-bold-weight;
}

.section-title {
  font-size: $body-large-size;
  color: $sea-green;
  text-transform: uppercase;
}

@include media-breakpoint-down(sm) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  p, li {
    font-size: 14px;
  }
}

// Colours
.colour-sea-green {
  color: $sea-green;
}

.colour-padua {
  color: $padua;
}

.colour-boulder {
  color: $boulder;
}

.colour-white {
  color: $mf-white;
}

.colour-black {
  color: $cod-gray;
}

// Service List
ul.service-list {
  list-style: none;
  padding: 0;
  font-size: $body-small-size;

  li {
    position: relative;
    padding: ($spacer / 2) 0 0 ($spacer * 1.5);
    margin-bottom: ($spacer / 2);

    &:before {
      content: "";
      position: absolute;
      display: block;
      top: $spacer * 0.75;
      left: 0;
      background: url("../images/icons/tick.svg") center no-repeat;
      height: ($spacer * 0.75);
      width: ($spacer * 0.75);
      background-size: 100%;
    }
  }

  &.list-4cols {
    column-count: 4;
    column-gap: $spacer;

    @include media-breakpoint-down(md) {
      column-count: 2;
    }

    @include media-breakpoint-down(sm) {
      column-count: 1;
    }
  }
}

.green-background-box {
  display: inline-block;
  background: $sea-green;
  color: $white;
  font-weight: $bold-weight;
  font-family: $headings-font-family;
  text-transform: uppercase;
  padding: ($spacer/2) $spacer;
  border-radius: 2px;
  margin-bottom: $spacer;

  p:last-of-type {
    margin-bottom: 0;
  }
}

@include media-breakpoint-down(sm) {
  #chat-widget-container {
    bottom: 60px !important;
  }
}

// Sliders
.slick-track {
  display: flex;

  > .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
}
