// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;
$grid-gutter-width-base: 24px;
$grid-gutter-width: 24px;

//Spacers
$spacer: 24px;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: () !default;
$spacers: map-merge((
        0: 0,
        '0_25': ($spacer * 0.25),
        '0_5': ($spacer * 0.5),
        '0_75': ($spacer * 0.75),
        1: ($spacer * 1),
        '1_25': ($spacer * 1.25),
        '1_5': ($spacer * 1.5),
        '1_75': ($spacer * 1.75),
        2: ($spacer * 2),
        '2_25': ($spacer * 2.25),
        '2_5': ($spacer * 2.5),
        '2_75': ($spacer * 2.75),
        3: ($spacer * 3),
        '3_5': ($spacer * 3.5),
        4: ($spacer * 4),
        '4_5': ($spacer * 4.5),
        5: ($spacer * 5)
), $spacers);

$container-max-widths: (
        xxs: 1084px
);

$grid-breakpoints: (
        xxs: 0,
        xs: 374px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1300px
);

// Colors
$sea-green: #009688; // Brand Colour
$padua: #A7E8C2; // Brighter Green

$havelock-blue: #3C8CCF; // Blog Blue
$bright-gray: #393F4F; // Blog Gray
$burnt-sienna: #EF7761; // Blog Orange
$fern: #73B872; // Blog Green

$alabaster: #FAFAFA; // Gray Backgrounds
$zevon: #F5F5F5; // Grey Edges
$pampas: #F9F9F9; // Other Grey Background
$wild-sand: #EFF2F3; // Faint Borders & Background
$gallery: #EEEEEE; // Darker Gray Backgrounds
$pill: #C4C4C4; // Pill Gray Backgrounds

$cod-gray: #070707; // Nearly Black - Main Text Colour
$boulder: #757575; // Grey - Sub Text Colour
$mine-shaft: #323232; // Dark Grey Footer BG
$mf-white: #FFFFFF; // White

$alert-red: #FF4917; // Alert Red - CTAs

$hr-border-color: $gallery;
$hr-border-width: 1px;

// Links
$link-color: $sea-green !default;
$link-hover-color: darken($sea-green, 10%) !default;
$link-hover-decoration: none !default;

// Typography Variables
$h1-font-size: 34px;
$h2-font-size: 32px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$body-large-size: 18px;
$body-normal-size: 16px;
$body-small-size: 14px;
$body-smallest-size: 12px;

$line-height-base: 1.75;

$font-family-sans-serif: 'Open Sans', Arial, sans-serif;
$font-family-base: $font-family-sans-serif;

$headings-font-family: 'Montserrat', Arial, sans-serif;
$headings-line-height: 1.3;
$body-color: $cod-gray;
$body-bg: $mf-white;

$body-line-height: 1.75;
$paragraph-margin-bottom: $spacer;

$bold-weight: 700;
$semi-bold-weight: 600;
$regular-weight: 400;

$headings-font-weight: $bold-weight;

$transition-fade: 300ms;
$modal-transition: 300ms;
$transition-collapse: height .25s ease !default;

$zindex-modal-backdrop: 10000;
$zindex-modal: 10001;
$modal-backdrop-bg: rgba($cod-gray, 0.5);

$modal-md: 1280px;
